#container {
	background-color: #000033;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1365px;
	height: 55px;
}

h2 {
	font-family: consolas;
	text-indent: 10px;
}

h1 {
	font-family: consolas;
}

p {
	font-family: consolas;
	color: red;
}

body {
	font-family: consolas;
}

label {
	font-weight: bolder;
}

input {
	font-family: consolas;
}

#submit{
	background-color: #ff6600;
	color: white;
	font-family: consolas;
	border-radius: 5px;
	padding: 5px;
}
